# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Dataset (IMPORTANT)
data/

# Models (optional - remove if you want to upload model)
models/

# Outputs (graphs, results)
outputs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Logs
*.log